<form name="form" action="{% url 'input' %}" method="post">
    {% csrf_token %}
    <h2>Where are we in space?</h1>
    <div>
        <label for="ra1">Right Ascension:</label>
        <input name="ra1" type="number" id="ra1" />
    </div>
    <div>
        <label for="dec1">Declination:</label>
        <input name = "dec1" type="number" id="dec1"/>
    </div>
    <div>
        <label for="dist">Distance:</label>
        <input name="dist" type="number" id="dist"/>
    </div>
    <h2>What direction are we looking?</h1>
    <div>
        <label for="ra2">Right Ascension:</label>
        <input name="ra2" type="number" id="ra2"/>
    </div>
    <div>
        <label for="dec2">Declination:</label>
        <input name="dec2" type="number" id="dec2"/>
    </div>
    <div>
        <label for="tilt">Tilt:</label>
        <input name="tilt" type="number" id="tilt"/>
    </div>
    <input name="send" type="submit" value="Send!"/>
</form>
