<form name="form" action="{% url 'input' %}" method="post">
    {% csrf_token %}
    <h2>Where are we in space?</h1>
    <div>
        <label for="ra1">Right Ascension:</label>
        <input name="ra1" type="number" step="any" id="ra1" />
    </div>
    <div>
        <label for="dec1">Declination:</label>
        <input name = "dec1" type="number" step="any" id="dec1"/>
    </div>
    <div>
        <label for="dist">Distance:</label>
        <input name="dist" type="number" step="any" id="dist"/>
    </div>
    <h2>What direction are we looking?</h1>
    <div>
        <label for="ra2">Right Ascension:</label>
        <input name="ra2" type="number" step="any" id="ra2"/>
    </div>
    <div>
        <label for="dec2">Declination:</label>
        <input name="dec2" type="number" step="any" id="dec2"/>
    </div>
    <div>
        <label for="tilt">Tilt:</label>
        <input name="tilt" type="number" step="any" id="tilt"/>
    </div>
    <h2>Pick a Constellation! (optional)</h2>
    <div>
        <select name="constellation" id="constellation">
            <option selected disabled hidden value=''></option>
            {% for constellation in constellations %}
            <option value="{{ constellation }}">{{ constellation }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <input name="send" type="submit" value="Send!"/>
    </div>
</form>
